* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    scroll-margin-top: 35px;
    font-family: 'Lora', serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    min-height:100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(174, 214, 241, 0.5), rgba(174, 214, 241 , 0.5)), url("./assets/shallows.jpg");
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/shallows.jpg"); */
    color: white;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2874A6;
    width: 100vw;
    position: sticky;
    top: 0;
    /* position: fixed; */
    text-align: center;
}

.nav-bar a {
    padding: 10px 0 10px 0;
    flex: 1;
    text-decoration: none;
    transition-duration: 0.4s;
    color: white;
    align-items: center;
    justify-content: center;
}

.nav-bar a:hover {
    background-color: white;
    color: black;
}

.page-frame {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.text-section {
    max-width: 700px;
    color: #2874A6;
}

/* mobile */
@media (max-width: 599px) {
}

/* tablet */
@media (min-width: 600px) {
}

/* laptop */
@media (min-width: 900px) {
}

/* desktop */
@media (min-width: 1200px) {
}

/* large screens
@media (min-width: 1800px) {

} */